// bower:scss
// endbower

.region.eastern { fill: #8D4945; }
.region.east_midlands { fill: #9A556A; }
.region.london { fill: #956B90; }
.region.north_west { fill: #7B85AD; }
.region.west_midlands { fill: #549FB9; }
.region.yorkshire_and_the_humber { fill: #38B6AF; }
.region.south_east { fill: #58C896; }
.region.north_east { fill: #94D476; }
.region.south_west { fill: #D7D95F; }