/*
  ============================================
  #Global
  ============================================
*/
/*
  ============================================
  #CSS RESET
    http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
  ============================================
*/
@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:400,700);
/* line 28, ../scss/app.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 49, ../scss/app.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 53, ../scss/app.scss */
body {
  line-height: 1;
}

/* line 56, ../scss/app.scss */
ol, ul {
  list-style: none;
}

/* line 59, ../scss/app.scss */
blockquote, q {
  quotes: none;
}

/* line 62, ../scss/app.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 67, ../scss/app.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  #Susy Grid
    http://susy.oddbird.net/
  ========================================
*/
/* line 14, ../../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 100, ../scss/app.scss */
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 900px) {
  /* line 100, ../scss/app.scss */
  .container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}

/* line 107, ../scss/app.scss */
.maps {
  clear: both;
  width: 95%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

@media (min-width: 700px) {
  /* line 113, ../scss/app.scss */
  .maps__map {
    width: 20%;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  /* line 117, ../scss/app.scss */
  .maps__map:last-child {
    width: 20%;
    float: right;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}
/* line 123, ../scss/app.scss */
footer {
  clear: both;
  width: 95%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #f7fbff;
}

/*
  ========================================
  #Generic
  ========================================
*/
/* line 141, ../scss/app.scss */
.upper {
  text-transform: uppercase;
}

/* line 145, ../scss/app.scss */
.center-text {
  text-align: center;
}

/* line 149, ../scss/app.scss */
.big-title {
  color: #666;
}

/* line 153, ../scss/app.scss */
.small-title {
  color: #333;
}

/*
  ========================================
  #Map
  ========================================
*/
/* line 167, ../scss/app.scss */
.q0-9 {
  fill: #f7fbff;
}

/* line 168, ../scss/app.scss */
.q1-9 {
  fill: #deebf7;
}

/* line 169, ../scss/app.scss */
.q2-9 {
  fill: #c6dbef;
}

/* line 170, ../scss/app.scss */
.q3-9 {
  fill: #9ecae1;
}

/* line 171, ../scss/app.scss */
.q4-9 {
  fill: #6baed6;
}

/* line 172, ../scss/app.scss */
.q5-9 {
  fill: #4292c6;
}

/* line 173, ../scss/app.scss */
.q6-9 {
  fill: #2171b5;
}

/* line 174, ../scss/app.scss */
.q7-9 {
  fill: #08519c;
}

/* line 175, ../scss/app.scss */
.q8-9 {
  fill: #08306b;
}

/* line 177, ../scss/app.scss */
.q {
  stroke: #C4C2C2;
  stroke-width: .5px;
}

/*
  ========================================
  #Typography & vertical_rhythm

    http://modularscale.com
    ----------------------
      13px @ 1:1.5
      13px @ 1:1.5
    ----------------------

    http://compass-style.org/reference/compass/typography/vertical_rhythm/
  ========================================
*/
/* Scale origin */
/* line 106, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 81.25%;
  line-height: 1.61538em;
}

/* line 206, ../scss/app.scss */
body {
  font-family: 'Old Standard TT', serif;
}

/* line 210, ../scss/app.scss */
h1 {
  font-size: 3.375em;
  line-height: 1.4359em;
}

/* line 214, ../scss/app.scss */
h3 {
  font-size: 1.5em;
  line-height: 2.15385em;
}

/* line 218, ../scss/app.scss */
.maps__map {
  margin-bottom: 1.61538em;
}

/* line 222, ../scss/app.scss */
.main {
  margin-bottom: 1.61538em;
}
