/* app css stylesheet */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:400,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
  ========================================
  Grid
  ========================================
*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

div.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto; }
  div.container:after {
    content: " ";
    display: block;
    clear: both; }
  div.container h1, div.container h3 {
    text-align: center; }
  div.container section > header {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
  div.container .maps {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
  div.container .map {
    width: 21.05263%;
    float: left;
    margin-right: 5.26316%; }
  div.container .map:last-child {
    width: 21.05263%;
    float: right;
    margin-right: 0; }

/*
  ========================================
  Map
  ========================================
*/
.q0-9 {
  fill: #f7fbff; }

.q1-9 {
  fill: #deebf7; }

.q2-9 {
  fill: #c6dbef; }

.q3-9 {
  fill: #9ecae1; }

.q4-9 {
  fill: #6baed6; }

.q5-9 {
  fill: #4292c6; }

.q6-9 {
  fill: #2171b5; }

.q7-9 {
  fill: #08519c; }

.q8-9 {
  fill: #08306b; }

.q {
  stroke: #C4C2C2;
  stroke-width: .5px; }

/*
  ========================================
  Typography
  ========================================
*/
html {
  font-size: 81.25%;
  line-height: 1.61538em; }

body {
  font-family: 'Old Standard TT', serif; }

h1 {
  font-size: 3.375em;
  line-height: 1.4359em;
  color: #666; }

h3 {
  font-size: 1.5em;
  line-height: 2.15385em;
  color: #333; }

/*
  ========================================

  ========================================
*/
header.main {
  text-transform: uppercase;
  padding: 10px 4px;
  margin-bottom: 20px; }

header {
  padding: 5px 2px; }

.map {
  margin-bottom: 28px; }

/*# sourceMappingURL=app.css.map */
