<div class="container">
  <header class="main  upper">
    <h1 class="big-title  center-text">A-level performance maps</h1>
  </header>
  <div class="maps">
    <section class="maps__urban">
      <header>
        <h3 class="small-title  center-text">Urban</h3>
      </header>
      <section class="maps__map" ng-repeat="stat in data.thematic.urban">
        <d3-map thematic-data="{{stat}}" geom-data="data.geom" index={{$index}}></d3-map>
        <p>{{stat.title}}</p>
      </section>
    </section>
    <section class="maps__rural">
      <header>
        <h3 class="small-title  center-text">Rural</h3>
      </header>
      <section class="maps__map" ng-repeat="stat in data.thematic.rural">
        <d3-map thematic-data="{{stat}}" geom-data="data.geom" index={{$index}}></d3-map>
        <p>{{stat.title}}</p>
      </section>
    </section>
    </div>
  <footer>
    <p>xxxxx</p>
  </footer>
</div>
