<section class="viz">

  <section class="bar-block">
  </section>

  <section class="map-block">

    <p>Urban</p>
    
    <div class="flex"> 
      <section ng-repeat="stat in data.thematic">
        
        <england-regions-map thematic-data="{{ stat[0] }}" geom-data="data.geom" index={{$index}}></england-regions-map>
        
      </section>
    </div>

    <p>Rural</p>

    <div class="flex">
      <section ng-repeat="stat in data.thematic">

        <england-regions-map thematic-data="{{ stat[1] }}" geom-data="data.geom" index={{$index}}></england-regions-map>

        <div>
          <p>{{stat[1].title}}</p>
        </div>
      
      </section>
    </div>


   

  </section>

</section>
